<div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a> | <a href="/recipe/new" class="btn btn-default btn-sm">Recipe Management</a>

</div>

<div class="row">

  <!-- User profile -->
  <div class="col-sm-6">
    <div class="well">
      <h3><span class="fa fa-user"></span>User Profile</h3>
          <p><strong>Name</strong>:<%=user.google.name|| user.facebook.name || user.twitter.name ||user.github.username  %>
          <p><strong>Email</strong>:<%= user.local.email || user.facebook.email || user.google.email ||user.github.email %></p>
          <br>
          <!-- check if the user has this token (is the user authenticated with this social account) -->
          <p><% if (user.google.token) { %>
            <a href="/unlink/google" class="btn btn-danger">Unlink <span class="fa fa-google-plus"></span> Google</a>
            <% } else { %>
                <a href="/connect/google" class="btn btn-danger">Connect <span class="fa fa-google-plus"></span> Google</a>
                <% } %>
            <% if (user.facebook.token) { %>
              <a href="/unlink/facebook" class="btn btn-primary">Unlink <span class="fa fa-facebook"> Facebook</a>
              <% } else { %>
                  <a href="/connect/facebook" class="btn btn-primary">Connect <span class="fa fa-facebook"> Facebook</a>
                  <% } %></p>
                  <br>
            <p><% if (user.twitter.token) { %>
              <a href="/unlink/twitter" class="btn btn-info">Unlink <span class="fa fa-twitter"> Twitter</a>
              <% } else { %>
                  <a href="/connect/twitter" class="btn btn-info">Connect <span class="fa fa-twitter"> Twitter</a>
                  <% } %>
            <% if (user.github.token) { %>
              <a href="/unlink/github" class="btn btn-info">Unlink <span class="fa fa-github"></span> Github</a>
          <% } else { %>
              <a href="/connect/github" class="btn btn-info">Connect <span class="fa fa-github"></span> Github</a>
          <% } %></p>
          <br>
        </div>
    </div>

</div>
